body {
    font-family: 'OpenSans';
    padding: 0px;
    margin: 0px;
}
body * {
    font-family: 'OpenSans';
    padding: 0px;
    margin: 0px;
}

header {
    border-bottom: 1px solid grey;
    padding: 30px 200px;
    display: flex;
    align-items: center;
    justify-content: left;
}
header img {
    height: 74px;
}
header p {
    display: inline-block;
    height: 74px;
    font-family: 'Segoe UI';
    font-size: 30px;
    margin-left: 24px;
}


.bgimg {
    background-image: url(images/c6e252ce94fd757ae97522197c394239.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 646px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    color: white;
    padding-left: 195px;
    font-size: 33px;
}
.bgimg p {
    margin-bottom: 100px;

}

#newsH1 {
    margin-top: 54px;
    margin-left: 200px;
}
.news {
    margin-left: 200px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 740px);
    justify-content: left;
    gap: 30px;
}

.new {
    margin-top: 60px;
    width: 739px;
    height: 333px;
}
.new .date {
    display: inline;
    padding: 6px 18px;
    background-color: #ECF2F5;
    border-radius: 20px;
    color: grey;
}
.new h2 {
    margin-top: 30px;
    font-size: 32px;
}
.new p {
    margin-top: 30px;
    font-size: 20px;
    line-height: 160%;
}
.new .moreDetails-btn {
    display: block;
    margin-top: 30px;
    padding: 16px 41px;
    width: 150px;
    border: 2px solid #9B307A;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #9B307A;
}
.new .moreDetails-btn img {
    display: inline-block;
    width: 25px;
    margin-left: 10px;
}
.new:first-of-type .moreDetails-btn {
    background-color: #841844;
    color: white;
}

footer {
    margin: 64px 0 84px 200px;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;

}
@font-face {
  font-family: "OpenSans";
  src: url("fonts/OpenSans/OpenSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.pageScroll {
    margin-top: 100px;
    margin-right: 198px;
    margin-bottom: 83px;
    text-align: end;
}

.pageScroll a {
    text-decoration: none;
}

.pageScrollItem {
    display: inline-block;
    width: 54px;
    height: 54px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    color: #9B307A;
    border: 2px solid #9B307A;
    border-radius: 40px;
    text-align: center;
    line-height: 54px;
    margin-left: 16px;
    background-color: white;
}


.page-number {
    width: 54px;
}


.page-number.active {
    background-color: #841844;
    color: white;
    border-color: #841844;
    cursor: default;
}


.arrow-btn {
    background-color: #9B307A;
    border-color: #9B307A;
}

.wide-arrow {
    width: 104px;
}

.arrow-btn img {
    width: 25px;
    vertical-align: middle;
    filter: brightness(0) invert(1);
}


.page-number:first-child:not(.active) {
    background-color: #9B307A;
    color: white;
}
